<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"  th:href="@{/index.css}"/>
    <title>ARS</title>
</head>
<body>
<ul>
    <li onclick><a href="/user/flights/form">Zarezerwuj lot</a></li>
    <li onclick><a href="/user/reservations">Moje rezerwacje</a></li>
    <li style="float:right"><a href="/logout" class="active" >Wyloguj</a></li>
</ul>
<span></span>
<div th:text="${message}"></div>
</body>
</html>