<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"  th:href="@{/index.css}"/>
    <title>ARS</title>
</head>
<body>
<ul>
    <li onclick><a href="/user/flights/form">Zarezerwuj lot</a></li>
    <li onclick><a href="/user/reservations">Moje rezerwacje</a></li>
    <li style="float:right"><a href="/logout" class="active" >Wyloguj</a></li>
</ul>
<table>
    <thead>
    <tr>
        <td>Kod</td>
        <td>Lotnisko odlotu</td>
        <td>Lotnisko docelowe</td>
        <td>Data odlotu</td>
        <td>Data przylotu</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight:${flights}">
        <td th:text="${flight.code}"></td>
        <td th:text="${flight.startAirport}"></td>
        <td th:text="${flight.stopAirport}"></td>
        <td th:text="${flight.depTime}"></td>
        <td th:text="${flight.arrTime}"></td>
        <td th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">
            <form method="POST" th:action="@{${currentUrl}+'&idReturnFlight='+${flight.id}+'&travelClass=ECONOMIC'}">
                <button type="submit" name="submit" value="value" class="link-button">Rezerwuj klasa ekonomiczna</button>
            </form>
        </td>
        <td th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">
            <form method="POST" th:action="@{${currentUrl}+'&idReturnFlight='+${flight.id}+'&travelClass=BUSINESS'}">
                <button type="submit" name="submit" value="value" class="link-button">Rezerwuj klasa biznes</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<footer>&copy; Copyright 2021 Bartosz Piętka</footer>
</body>
</html>